@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, you have @Model.Todos.Count() TODO items.</h1>
</div>
<div>
    <p>Host Name: <mark>@Model.HostName</mark></p>
    <p>IP Address: <mark>@Model.IpAddress</mark></p>
    <p>Node Name: <mark>@Model.NodeName</mark></p>
    <p>Version: <mark>@Model.Version</mark></p>
</div>
